
<form (submit)="onEdit(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
  <mat-form-field>
    <input matInput name="fname" [ngModel]="user?.fname" type="text" placeholder="First Name" #fnameInput="ngModel" required>
    <mat-error *ngIf="fnameInput.invalid">Please enter a valid first name.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="lname" [ngModel]="user?.lname" type="text" placeholder="Last Name" #lnameInput="ngModel" required>
    <mat-error *ngIf="lnameInput.invalid">Please enter a valid last name.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="email" [ngModel]="user?.email" type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
    <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password" [ngModel]="user?.password" matInput placeholder="Password" #passwordInput="ngModel"
      required>
    <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">Edit</button>
</form>
