.dropdown-toggle {
  cursor: pointer;
}

.navbar.navbar-expand-lg.navbar-dark li a {
  color: #7c7c7c;
  font-family: fjalla One;
  text-rendering: optimizeLegibility;
<<<<<<< HEAD
}
=======
}
>>>>>>> 11df8464a7a574e53195cb9427e6bf5a6ecd4938
