<h3>Popular Clothing</h3>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items[0]?.itemName }}</h5>
      <p class="price-sweater">{{ items[0]?.itemPrice }}</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items[1]?.itemName }}</h5>
      <p class="price-sweater">{{ items[1]?.itemPrice }}</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items[2]?.itemName }}</h5>
      <p class="price-sweater">{{ items[2]?.itemPrice }}</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items[3]?.itemName }}</h5>
      <p class="price-sweater">{{ items[3]?.itemPrice }}</p>
    </div>
  </div>
</div>
