<h1 style=" height: 47px; border-bottom: 1px solid black;">Customer Login</h1>
<div class="logincontainer">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="contained">
  <form style="width:100px;" (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class = "btn btn-primary">Login</button>
  </form>

  <a routerLink='/forgot-password'>Forgot Password</a>
  </div>
</div>

