<mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="onSubmit(editForm)" #editForm="ngForm" *ngIf="!isLoading">
  <div class = "column">
    <p>
  <mat-form-field>
    <input matInput type="password" name="oldPassword" ngModel matInput placeholder="Old Password" #passwordInput="ngModel"
      required>
    <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field>
      <input matInput type="password" name="newPassword" ngModel matInput placeholder="New Password" #passwordInput="ngModel"
        required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary" class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>