<h3>Cart Info</h3>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th>Price</th>
    <th>Sub Total</th>
  </tr>
  <tr *ngFor="let item of items" align = "center">
    <td>{{item.itemName}}</td>
    <img class="card-img-top" class="redjacket" src="assets/images/sweater.jpg" style="width: 50px; height:50px;">
    <td>{{item.itemPrice | currency:'USD':true}}</td>
    <td>{{item.itemPrice | currency:'USD':true}}</td>
  </tr>
  <tr>
    <td colspan="3" align="right">Total</td>
    <td>{{total | currency:'USD':true}}</td>
  </tr>
</table>

<div>
  <button type="button" class="btn btn-primary"routerLink="/check-out">Check Out</button>
</div>
