<div id="item-cat">
  <div id="filter-menu" class="row">
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item">Shirts</li>
        <li class="list-group-item">Sweaters</li>
        <li class="list-group-item">Pants</li>
      </ul>
    </div>
    <div class="col">
      <div class="row">
        <ng-container *ngFor="let items of item">
          <div class="col">
            <div>
              <img class="card-img-top" class="redjacket" src="assets/images/sweater.jpg"
                style="width: 150px; height:150px;">
              <div class="card-body">
                <h4 class="card-title">{{items.item_name}}</h4>
                <p class="card-text">{{items.item_price | currency:'USD':true}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>

