
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding-left: 15px;
  padding-top: 25px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div.two-col{
width:50%;
}
input[type="text"] { 
box-shadow: none;
/* border-bottom: none; */
/* text-decoration: none; */
}
h1{
font-family: 'PT Sans Narrow';
font-size: 26px;
font-style: normal;
text-transform: none;
line-height: 1.5;
color: #333333;
display: block;
letter-spacing: 0px;
text-rendering: optimizeLegibility;
margin: 0 auto 15px;
clear: both;
font-weight: bold;
padding-top: 4px;
}


input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: black;
opacity: 1; /* Firefox */
}

select{
border-top: none;
border-left: none;
border-right: none;
width: 180px;
}
div.list{
width:50%;
float:left;
}
table{
width:100%;
margin-bottom:1.5em;
}
img{
border-radius: 10px;
}
div.subtotal{
border-top:1px solid;
padding-top:1.5em;
}
.right{
float:right;
}
a.back{
float:left;
color:#ba0000;
}
.btn{
border-radius: 0;
background-color: #ba0000;
font:white;
float:right;
}