
<<<<<<< HEAD

=======
>>>>>>> 11df8464a7a574e53195cb9427e6bf5a6ecd4938
div.header{
    background-color: #191919;
    position: fixed;
    width:100%;
    padding: 10px 16px;
    z-index:1000;
    height:auto;
}
div.container{
    width:100%;
    padding-top:150px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 11df8464a7a574e53195cb9427e6bf5a6ecd4938
