<div class="caro">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img src="assets/images/Summer.png" alt="Random first slide" class="center-block">
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/Summer2.png" alt="Random second slide" class="center-block">
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/Summer3.png" alt="Random third slide" class="center-block">
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
</div>

