<h3>Popular Clothing</h3>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">Hype sweater</h5>
      <p class="price-sweater">$19.99</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
    <h5 class="sweater">Hype sweater</h5>
    <p class="price-sweater">$19.99</p>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
    <h5 class="sweater">Hype sweater</h5>
    <p class="price-sweater">$19.99</p>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
    <h5 class="sweater">Hype sweater</h5>
    <p class="price-sweater">$19.99</p>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
    <h5 class="sweater">Hype sweater</h5>
    <p class="price-sweater">$19.99</p>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
    <h5 class="sweater">Hype sweater</h5>
    <p class="price-sweater">$19.99</p>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
    <h5 class="sweater">Hype sweater</h5>
    <p class="price-sweater">$19.99</p>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
    <h5 class="sweater">Hype sweater</h5>
    <p class="price-sweater">$19.99</p>
  </div>
</div>
