<h3>Popular Clothing</h3>
<div class="row" *ngFor = "let items of items">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items.item_name }}</h5>
      <p class="price-sweater">{{ items.item_price }}</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items.item_name }}</h5>
      <p class="price-sweater">{{ items.item_price }}</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items.item_name }}</h5>
      <p class="price-sweater">{{ items.item_price }}</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items.item_name }}</h5>
      <p class="price-sweater">{{ items.item_price }}</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items.item_name }}</h5>
      <p class="price-sweater">{{ items.item_price }}</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items.item_name }}</h5>
      <p class="price-sweater">{{ items.item_price }}</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items.item_name }}</h5>
      <p class="price-sweater">{{ items.item_price }}</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div>
      <img class="red-jacket" src="assets/images/sweater.jpg" alt="red jacket" style="width: 150px; height:150px;" />
      <h5 class="sweater">{{ items.item_name }}</h5>
      <p class="price-sweater">{{ items.item_price }}</p>
    </div>
  </div>
</div>
