/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

oceanside-header {
  text-align: center;
}
bs-carousel {
  padding: 150%;
  text-align: center;
}

.red-jacket {
  border-radius: 100%;
}
popular-products {

  text-align: center;
  margin-top: 50px;
  padding: 0% 25%;
}

